# Keep these files out of the repo
wordpress/wp-content/themes/twenty*
wordpress/wp-content/upgrade
wordpress/wp-content/uploads
wordpress/sitemap.*
wordpress/wp-config.php
wordpress/wp-content/plugins/contact-form-7
wordpress/wp-content/plugins/jetpack
wordpress/wp-content/plugins/tac
wordpress/wp-content/plugins/theme-check
*.sql
